# Conditions

# Conditions has 3 Modules "if, elif, else"

# Syntax

In [7]:
if condition:statement

NameError: name 'condition' is not defined

In [ ]:
 elif condition1:
        statement1

In [ ]:
elif condition2:
    statement2

In [ ]:
 elif condition3:
        statement3

In [ ]:
 else: 
        End of statement

In [2]:
a=10
b=20
c=a+b
if a<b:
    print(c)
elif a<b:
        print(b)
elif a!=b:
    print(c)
else:
                print("Enter the Value:")

30

# Conditions and Logical Operators with Binary

# Syntax

In [ ]:
if condition :
    statement
elif condition1 :
    statement1
elif condition2 :
    statement2
elif condition3 :
    statement3
elif condition4 :
    statement4
    
else :           
     end the statement

a=10
b=20
if a>b:
    print("a is grt then b")
elif b>a:
    print("b is grt then a")

# #(        print) Space is know as Indentation

In [ ]:
number=10
a=f'{number:b}'
print(a)

In [6]:
number2=30
b=f'{number2:0b}'
print(b)

11110

In [7]:
number3=30 
c=f'{number3:010b}'
print(c)

0000011110

# and ,or Operator

In [10]:
a=10 
b=20 
if a==10 or a==20:
     print(a)

10

In [18]:
if a==10 and a==20:
    print(b)

# And Table

In [ ]:
True True True 
True False False 
False True False
False False False

# Or table

In [ ]:
True True True 
True False True 
False True True 
False False False

# Calculator

In [27]:
a= int(input("Enter a value"))
b= int(input("Enter a value"))
operations= input("Enter a operations,('+','-','*','/','//','%')")
if operations =="+":
        print("Here we are performing addition operation",a+b)
elif operations =="-":
        print("Here we are performing  subtraction operation",a-b)
elif operations =="*":
         print("Here we are performing multiplication  operation",a*b)
elif operations =="/":
         print("Here we are performing division operation",a/b)
elif operations =="//":
         print("Here we are performing division operation without decimal point",a//b)
elif operations =="%":
         print("Here we are performing modular operation without decimal point",a%b)
else:
      print("Please Enter the valid operation")

Enter a value100
Enter a value500
Enter a operations,('+','-','*','/','//','%')+
Here we are performing addition operation 600